{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Set New Password</title>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a href="" class="logo logo-login d-flex align-items-center w-auto">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
              </a>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Set New Password</h5>
				  	<ul class="text-start">
						<li>At least 8 characters long</li>
						<li>Not too similar to your username</li>
						<li>Not entirely numeric</li>
						<li>Not a common password</li>
					</ul>
                </div>
                <form method="post" action="." class="row g-3">
                  {% csrf_token %}
                  <div class="col-12">
                    <label for="new_password1" class="form-label">New Password</label>
                    <input type="password" name="new_password1" id="new_password1" class="form-control" required>
                    {% if form.new_password1.errors %}
                      <div class="text-danger">
                        {% for error in form.new_password1.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-12">
                    <label for="new_password2" class="form-label">Confirm New Password</label>
                    <input type="password" name="new_password2" id="new_password2" class="form-control" required>
                    {% if form.new_password2.errors %}
                      <div class="text-danger">
                        {% for error in form.new_password2.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Change my password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
		  <footer id="login-footer" class="login-footer">
					<div class="eu-acknowledgement">
						<div class="eu-logo-text">
							<img src="{% static 'img/eu_flag.png' %}" alt="EU Logo" class="eu-logo">
							<span class="eu-funded-text">Funded by the European Union</span>
						</div>
						<p class="eu-text">
							This application was developed as part of the FAITH and DSPACE projects, which have received funding from the European Union under grant agreement No. 101135932 and No. 101086701. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Education and Culture Executive Agency (EACEA). Neither the European Union nor EACEA can be held responsible for them.
						</p>
					</div>
					<div style="text-align: center;">
						Designed by <a href="http://imu.ntua.gr/wp/">IMU NTUA | ICCS</a>
					</div>
				</footer>
        </div>
      </div>
    </section>
  </div>
</main>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
